.viewport-img-about-homepage {
  background: url(../images/about/naslovnica.jpg) center center/cover no-repeat;
  height: 93vh;
}

.about-memories {
  display: flex;
  color: black;
  justify-content: center;
  background-color: white;
  height: 13vh;
  border: none;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  align-items: center;
  margin-top: -13vh;
  padding-left: 0;
  /* position: -webkit-sticky;*/
  position: relative;
  /* set postition:relative so that z-index take effect*/
  /* top: 7vh; */
  z-index: 1;
  /* z index sam dodala  zbog opacityja je rmi onda tekst prolazi iznad food menija i vidi se sav tekst */
}

.about-memories p {
  font-size: 20px;
  margin: 0;
}

.memories-image {
  position: relative;
  height: 150vh;
  /* margin-bottom: 50px; */
  background: url(../images/about/Veranda\ II-253.jpg) center top/cover
    no-repeat;
}

.about-box {
  /* display: flex;
  justify-content: space-evenly;
  align-items: center; */
  text-align: center;
  background-color: white;
  opacity: 0.8;
  width: 90%;
  /* height: 17%; */
  position: absolute;
  top: 20%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.about-box p {
  /* text-align: center; */
  margin: 0;
  margin-right: 250px;
  font-family: "Libre Baskerville", serif;

  margin-left: 50px;
}

.memories-image div:nth-child(2) img:nth-child(1) {
  width: 200px;
  position: absolute;
  top: 15%;
  right: 5%;
}

.memories-image div:nth-child(2) img:nth-child(2) {
  width: 200px;
  position: absolute;
  top: 23%;
  right: 0;
}

.memories-image div:nth-child(2) img:nth-child(3) {
  width: 250px;
  position: absolute;
  top: 52%;
  right: 15%;
}

.memories-image div:nth-child(2) img:nth-child(4) {
  width: 30%;

  position: absolute;
  top: 90%;
  left: 15%;
}

.beginning p {
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-size: 16px;
  opacity: 0.5;
  margin-bottom: 0;
  padding-right: 20px;
  padding-left: 20px;
  
}

.beginning {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}

.beginning > div {
  flex: 1;
}

.beginning div:nth-child(1) img {
  width: 90%;
  margin-top: -100px;
  margin-bottom:50px;
  z-index: 1;
  position: relative;
}

.beginning div:nth-child(2) {
  margin-top: auto;
  margin-bottom: auto;
}

.img_1 {
  height: 100vh;
  /* margin-bottom: 50px; */
  background: url(../images/about/Veranda\ II-290.jpg) center center/cover
  no-repeat;
  /* background-size: 100vw 100vh;
  min-height: 100vh; */
}
.img_2 {
  height: 100vh;
  /* margin-bottom: 50px; */
  background: url(../images/aboutsve/tetkaNev.jpg) center top/cover
  no-repeat;
  position: relative;
  /* background-size: 100vw 100vh;
  min-height: 100vh; */
}
.img_4 {
  height: 120vh;
  /* margin-bottom: 50px; */
  background: url(../images/aboutsve/mIm.jpg) center top/cover
  no-repeat;
  /* background-size: 100vw 100vh;
  min-height: 100vh; */
  position: relative;
}
.img_Nevenka {
  background: url(../images/aboutsve/tetkaN.jpg) center top/cover no-repeat;
  position: absolute;
  top: 35%;
  left: 10%;
  width: 280px;
  height: 65vh;
  border: none;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  /* opacity: 0.7; */
}
.img_Mirko {
  background: url(../images/aboutsve/mIa.jpg) center top/cover no-repeat;
  position: absolute;
  top: 55%;
  right: 28%;
  width: 230px;
  height: 45vh;
  border: none;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.mama {
  background-color: rgb(49, 52, 33);
  width: 40%;
  display: flex;
  position: absolute;
  top: 50%;
  right: 10%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.mirko {
  /* background-color:rgb(85,107,47); */
  /* background-color:rgb(99,125,55); */
  
  background-color: rgb(49, 52, 33);
  width: 25%;

  position: absolute;
  top: 55%;
  left: 10%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.mirko > div{
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  
}
.mirko p:nth-child(1){
  font-size: 13px;
  line-height: 1.8;
  
  
}
h3 {
  margin-top: 40px;
  margin-bottom: 0;
  text-align: center;
}
.mama div:nth-child(2) {
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}
.mama div:nth-child(2) p {
  margin-bottom: 10px;
  /* font-size: 18px; */
}
h3 {
  font-size: 20px;
  /* mama tekst font 20px */
}
.mama div:nth-child(1) p {
  /* padding-left: 20px;
padding-bottom: 20px; */
  padding: 20px;
  padding-top: 35px;
  margin-bottom: 0;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.8;
 
}
 .mama h3{
  color: black;
  opacity: 0.5;
  letter-spacing: 2px;
 }
.mirko p,h3{
  color: white;
}
.mirko >div p:nth-child(1){
  text-transform: uppercase;
  /* margin-left: 20px;
  margin-right: 20px;
  margin-top: 35px */
}
.mirko >div p:nth-child(2){
 
  /* margin-left: 20px;
  margin-right: 20px;
  margin-top: 35px */
}
/* .img_Luka {
  height: auto;
  width: 100%;
} */
.img_3 {
  background: url(../images/aboutsve/lukasjenanova.png) 60% top/cover no-repeat;
  /* background-size: 100vw 100vh;
  min-height: 100vh; */
  position: relative;
  height: 120vh;
}
.img_5 {
  background: url(../images/aboutsve/marinasjenanova.png) 30% top/cover no-repeat;
  /* background-size: 100vw 100vh;
  min-height: 100vh; */
  position: relative;
  height: 100vh;
}
/* .welcome-image {
  background: url(../images/homepage.materijal/hptekstpozadina-2.jpg) center
    top/cover no-repeat;

} */

/* @media (max-width: 767px){
  .fh5co-nav ul{
    display: none;

  }
} */

.img_3 p,
.img_5 p {
  color: rgb(251,145,48);
}

.img_3, 
.img_5 {
  position: relative;
}
.img_3 p:nth-child(2),
.img_5 p:nth-child(2) {
  text-transform: uppercase;
}
.img_3 p:nth-child(1) {
  margin-bottom: 0;
}

.img_3 > div:nth-child(1)
 {
  width: 350px;
  height: 50vh;
  position: absolute;
  top: 55%;
  left: 8%;
  padding-right: 30px;
}
.img_5 > div {
  width: 350px;
  height: 50vh;
  position: absolute;
  top: 65%;
  right: 20%;
  padding-right: 30px;
}

.luka_slova {
  height: 25%;
  position: absolute;
  right: 38%;
  top: 18%;
}
@media screen and (max-width: 768px) {
  .img_Luka > div {
    width: 300px;
    padding-right: 50px;
  }
}
.lukica {
  position: absolute;
  top: 50%;
  right: 30%;
  border-radius: 50px;
  max-width: 450px;
}
.marina {
  position: absolute;
  top: 43%;
  left: 7%;
  border-radius: 50px;
  max-width: 350px;
 
}



@media screen and (max-width: 480px) {
 
.img_4{
  /* width:60%; */
  background: url(../images/aboutsve/mIm.jpg) right top/cover
no-repeat;
}


.mama{
  width: 70%;
}
.beginning{
  flex-direction: column;
}
.marina,
.img_Mirko,
.lukica,
.luka_slova,
.img_Nevenka{
  display: none;
}
.mirko
{
  width: 50%;
}
}
