.contact-box p{
  font-size: 16px;
  font-family: "Libre Baskerville", serif;
  line-height: 1.5;
  color: #000;
  margin: 0;
}

.viewport-img-contact-homepage {
  background: url(../images/contact/Veranda\ II-297.jpg) center bottom/cover
    no-repeat;
  height: 93vh;
}

.food-menu {
  /* font-size: 20px; */
  display: flex;
  color: black;
  justify-content: center;
  background-color: white;
  height: 13vh;
  border: none;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  align-items: center;
  margin-top: -13vh;
  padding-left: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 7vh;
  z-index: 1;
  /* z index sam dodala  zbog opacityja je rmi onda tekst prolazi iznad food menija i vidi se sav tekst */
}

.food-menu li {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 50px;
  margin-right: 0px;
}
.food-menu a {
  color: black;
}

.contact-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: white;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;

  margin-top: -13vh;
  width: 100%;
  height: 13vh;
  position: absolute;
}

.contact-box p {

}
.contact-box img {
  /* height: 35px;
  width: 35px; */
}

.contact-box > a:nth-child(1) img:hover {
  content: url("../images/homepage.materijal/Property\ 1=Variant2.jpg");
}

.veranda-box > a:nth-child(3) img:hover {
  content: url("../images/homepage.materijal/Property\ 1=Variant2\ \(2\).jpg");
}


.fb-inst {
  /* display: inline-block; */
  text-align: center;
  /* height: 93vh; */

}
.fb-inst img {
  margin-left: 30px;
  margin-right: 30px;
  /* width: 35px;
  height: 3px; */
  margin-bottom: 100px;
}
.fb{
  width: 30px;
  height: 35px;
}

.phone{
  width: 31px;
  height: 35px;
  margin-bottom: 5px;
}

.mail{
  margin-bottom: 5px;
}

.contact-location-container{
  height: 93vh;
  margin-top:100px;
}


.fb-inst > a:nth-child(1) img:hover {
  content: url("../images/homepage.materijal/fbpressed.jpg");
}
.fb-inst > a:nth-child(2) img:hover {
  content: url("../images/homepage.materijal/instapressed.jpg");
}
.fb-inst > a:nth-child(3) img:hover {
  content: url("../images/homepage.materijal/tripadvhov.jpg");
}



