#page {
  display: table;
  position: absolute;
}
.box{
  display: table-cell;
  vertical-align: middle;
}
.gallery-container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  padding-left: 20px;
  padding-right: 20px;
  height: 300px;
}
.gallery-container img {
  width: 100%;
  height: 70%;
}
.gallery-container p {
  font-size: 24px;
  text-align: center;
  padding-top: 30px;
}
.gallery-container a {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gallery-container > a div:hover {
  transform: translate(0, -15px);
}

.gallery-container > a,
.gallery-container > div {
  border: solid gray;
}
.gallery-container > a > div {
  margin-top: -20px;
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  z-index: 10;
  position: relative;
  transition: transform 1s;
}

@media screen and (max-width: 768px) {
  .gallery-container {
    height: 200px;
    column-gap: 30px;
  }
}
@media screen and (max-width: 480px) {
  .gallery-container {
    height: auto;
    grid-template-columns: 1fr;
    row-gap: 40px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .gallery-container > a {
    height: 250px;
  }

  .box {
    display: inherit;

  }

  
}
