.gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    column-gap: 20px;
    row-gap: 40px;
    margin-left: 100px;
    margin-right: 100px;
    /* margin-top:50px; */
    background-color: white;
  }
  img {
    border: solid;
    width: 100%;
  }