h1 {
  font-size: 28px;
}
h2 {
  font-size: 20px;
}
h3 {
  height: 40px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.7;
  font-size: 20px;
}
.viewport-img-starter-homepage {
  background: url(../images/starters/naslovnicastarters_crop.jpeg) center
    bottom/cover no-repeat;
  height: 93vh;
}
.food-menu {
  display: flex;
  color: black;
  /* margin: 5px 0 0 0; */
  justify-content: center;
  background-color: white;
  height: 13vh;
  border: none;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  align-items: center;
  margin-top: -13vh;
  padding: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 7vh;
  z-index: 10;
  pointer-events: visible;
}
.food-menu li {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 25px;
  margin-right: 25px;
}
.food-menu li:nth-child(1) {
  text-decoration: underline;
}
.food-menu a {
  color: black;
  font-size: 14px;
}
.regions {
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
}
.regions img {
  border-bottom-left-radius: 2em 2em;
  border-top-right-radius: 2em 2em;
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  margin-bottom: 30px;
}
.starters-county {
  height: 80vh;
  display: table;
}
.starters-county > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.County-two-dishes {
  display: flex;
}
.County-two-dishes > div {
  flex: 1;
}
.County-two-dishes img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.County-two-dishes div:nth-child(2) img {
  border-bottom-right-radius: 2em 2em;
  border-top-left-radius: 2em 2em;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.County-two-dishes > div p:nth-child(1),
.County-one-dish > div p:nth-child(1),
.exception-dish > div p:nth-child(1) {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.7;
}
.County-two-dishes > div p:nth-child(1),
.exception-dish > div p:nth-child(1) {
  height: 40px;
}
.County-one-dish > div p:nth-child(1) {
  height: 30px;
}
.County-two-dishes > div p:nth-child(2),
.County-one-dish > div p:nth-child(2),
.exception-dish > div p:nth-child(2) {
  opacity: 0.5;
  font-style: italic;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}
.starters-county:nth-child(1) .County-two-dishes > div > div p:nth-child(2) {
  height: 90px;
}
.starters-county:nth-child(5) .County-two-dishes > div > div p:nth-child(2) {
  height: 140px;
}
/* .exception-dish > div {
  display: flex;
} */
/* .exception-dish > div > div {
  flex: 1;
} */
/* .exception-dish > div:nth-child(2) p:nth-child(2) {
  height: 120px;
} */
.gyoco {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .County-two-dishes {
    flex-direction: column;
    justify-content: space-evenly;
    height: 160vh;
    margin-top: -120px;
  }
  .food-menu {
    top: 0vh;
  }
  .food-menu li {
    margin-left: 10px;
    margin-right: 10px;
  }
  .County-one-dish {
    height: 80vh;
  }
  .County-one-dish img {
    width: 50%;
  }
  .starters-county {
    height: auto;
  }
  .starters-county:nth-child(1)
    .County-two-dishes
    > div:nth-child(2)
    > div
    p:nth-child(2) {
    height: 40px;
  }
  .starters-county:nth-child(5)
    .County-two-dishes
    > div:nth-child(2)
    > div
    p:nth-child(2) {
    height: 80px;
  }
  /* .exception-dish > div:nth-child(2) p:nth-child(2) {
    height: 250px;
  }
  .exception-dish > div {
    column-gap: 20px;
  } */

  .County-two-dishes > div {
    flex: none;
  }
}
@media screen and (max-width: 480px) {
  .food-menu a {
    font-size: 10px;
  }
}
