h1 {
  font-size: 28px;
}

h2 {
  font-size: 20px;
  /* font-weight: normal; */
}
.viewport-img-starter-homepage {
  background: url(../images/starters/naslovnicastarters_crop.jpeg) center
    bottom/cover no-repeat;
  height: 93vh;
}

.food-menu {
  display: flex;
  color: black;
  /* margin: 5px 0 0 0; */
  justify-content: center;
  background-color: white;
  height: 13vh;
  border: none;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  align-items: center;
  margin-top: -13vh;
  padding: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 7vh;
  z-index: 10;
  pointer-events: visible;
}

.food-menu li {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 25px;
  margin-right: 25px;
}

.food-menu a {
  color: black;
  font-variant: small-caps;
  font-size: 14px;
}

.regions img {
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  margin-bottom: 25px;
}

.regions {
  text-align: center;
}

.County-two-dishes {
  display: flex;
}

.County-two-dishes > div {
  flex: 1;

}

.County-two-dishes img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.County-two-dishes div:nth-child(2) img {
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.County-two-dishes > div p:nth-child(1),
.County-one-dish > div p:nth-child(1),
.exception-dish > div p:nth-child(1) {
  height: 40px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.7;
}

.County-two-dishes > div p:nth-child(2),
.County-one-dish > div p:nth-child(2),
.exception-dish > div p:nth-child(2) {
  opacity: 0.5;
  font-style: italic;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.starters-county {
  height: 80vh;
  margin-bottom: 50px;
}

/* because if set margin, background is black*/
.starters-county:last-child {
  height: 100vh;
  margin-bottom: 0;
}

.food-menu li:nth-child(1) {
  text-decoration: underline;
  /* text-decoration-color: red; */
}

.exception-dish > div {
  display: flex;
}

.exception-dish > div > div {
  flex: 1;
}

@media screen and (max-width: 768px) {
.County-two-dishes {
  flex-wrap: wrap;
 

  }
}
