h3 {
  height: 40px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.7;
  font-size: 20px;
}
.sweet-dish > div p:nth-child(1) {
  opacity: 0.7;
}
.sweet-dish > div p:nth-child(2) {
  opacity: 0.5;
  font-style: italic;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  height: 120px;
}
.sweet-dish > div p:nth-child(3) {
  font-style: italic;
}
.viewport-img-sweet-homepage {
  background: url(../images/slatko/naslovnica\ slatkog\ menija_crop.jpg) center
    bottom/cover no-repeat;
  height: 93vh;
}
.food-menu {
  display: flex;
  color: black;
  /* margin: 5px 0 0 0; */
  justify-content: center;
  background-color: white;
  height: 13vh;
  border: none;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  align-items: center;
  margin-top: -13vh;
  padding: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 7vh;
  z-index: 10;
}
.food-menu li {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 25px;
  margin-right: 25px;
}
.food-menu a {
  color: black;
  font-variant: small-caps;
  font-size: 14px;
}
.food-menu li:nth-child(4) {
  text-decoration: underline;
  /* text-decoration-color: red; */
}
.regions {
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
}
.regions > div:nth-child(1),
.regions > div:nth-child(2){
  display: table;
  height: 80vh;
  width: 100%;
}
.regions > div:nth-child(1) > div,
.regions > div:nth-child(2) > div{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.regions img {
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: 30px;
  display: block;
  margin-bottom: 30px;
}
.sweet-dish {
  display: flex;
  /* margin-bottom: 35px; */
}
.sweet-dish > div {
  flex: 1;
}
.sweet-dish img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.sweet-dish div:nth-child(2) img {
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.smokva-maslina {
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center;
}
.smokva-maslina img:nth-child(1) {
  align-self: flex-start;
  /* height: 170px;
  width: 120px; */
  height: 130px;
  width: 80px;
  margin-top: 120px;
}
.smokva-maslina img:nth-of-type(2) {
  align-self: flex-end;
  margin-bottom: 140px;
  /* height: 200px;
  width: 150px; */
  height: 160px;
  width: 110px;
}
.smokva-maslina div > p {
  font-size: 16px;
  opacity: 0.7;
}
.smokva-maslina div p:nth-child(2) {
  opacity: 0.5;
  font-style: italic;
}
.smokva-maslina div p:nth-child(3) {
  font-style: italic;
}


@media screen and (max-width: 768px) {
  .food-menu {
    top: 0;
  }
  .sweet-dish {
    /* flex-wrap: wrap; */
    flex-direction: column;
    height: 160vh;
    justify-content: space-around;
  }
  .sweet-dish > div p:nth-child(2) {
    height: 140px;
  }
  .sweet-dish > div:nth-child(2) p:nth-child(2) {
    height: 70px;
  }

  .food-menu li {
    margin-left: 10px;
    margin-right: 10px;
  }

  .sweet-dish > div {
    flex: none;
  }
  .smokva-maslina {
    margin-left: 80px;
    margin-right: 80px;
  }
  .smokva-maslina img:nth-child(1) {
    align-self: flex-start;
    /* height: 170px;
    width: 120px; */
    height: 130px;
    width: 80px;
    margin-top: 120px;
    margin-right: -50px;
  }
  .smokva-maslina img:nth-of-type(2) {
    align-self: flex-end;
    margin-bottom: 120px;
    margin-left: -65px;

    /* height: 200px;
    width: 150px; */
    height: 160px;
    width: 110px;
  }
}

@media screen and (max-width: 480px) {

  .food-menu a {
    font-size: 10px;
  }

  
}
