/* h4{
  font-size: 20px;
  opacity: 0.7;
} */
.vege-dish > div p:nth-child(1) {
  font-size: 16px;
  opacity: 0.7;
}

.vege-dish > div p:nth-child(2) {
  font-size: 16px;
  opacity: 0.5;
  font-style: italic;
}
.vege-dish > div p:nth-child(3) {
  font-size: 16px;
  font-style: italic;
}

.vege-dish div:nth-child(2) img {
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.vege-dish div:nth-child(1) img {
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.viewport-img-starter-homepage {
  background: url(../images/vege/naslovnicavege.jpg) center bottom/cover
    no-repeat;
  height: 93vh;
}

.food-menu {
  display: flex;
  color: black;
  /* margin: 5px 0 0 0; */
  justify-content: center;
  background-color: white;
  height: 13vh;
  border: none;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  align-items: center;
  margin-top: -13vh;
  padding: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 7vh;
  z-index: 10;
}

.food-menu li {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 25px;
  margin-right: 25px;
}

.food-menu a {
  color: black;
  font-variant: small-caps;
  font-size: 14px;
}
.regions img {
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: 30px;
  display: block;
  margin-bottom: 30px;
}

.regions {
  text-align: center;
}

.vege-dish img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.vege-dish {
  height: 80vh;
  display: flex;
  margin-bottom: 50px;
}

.vege-dish-1 {
  height: 80vh;
  margin-left:50px;
  margin-right:50px;

  /* background-color: green; */
  position: relative;
}
.vege-dish-1 > div {
  display: flex;
  column-gap: 70px;
}
.vege-dish-1 > div:nth-child(2){
  margin-bottom:60px;
}
.vege-dish-1 > div:nth-child(4){
  margin-bottom:60px;
}

.vege-dish-1 > div > div {
  flex: 1;
}

/* .vege-dish-1 div:nth-child(1) > div:nth-child(1) {
  padding-left: 100px;
}
.vege-dish-1 div:nth-child(1) > div:nth-child(3) {
  padding-right: 100px;
} */

.vege-dish-1 > div:nth-child(1) > div:nth-child(1) {
  padding-left: 100px;
}
.vege-dish-1 > div:nth-child(2) > div:nth-child(1) {
  padding-left: 100px;
}
.vege-dish-1 > div:nth-child(1) > div:nth-child(3) {
  padding-right: 100px;
}
.vege-dish-1 > div:nth-child(2) > div:nth-child(3) {
  padding-right: 100px;
}

.sir {
  position: absolute;
  /* background: url(../images/vege/sireviillu.jpg) center top/cover no-repeat; */
  top: -5%;
  width: 180px;


}
.fusili {
  position: absolute;
  top: 55%;
  right: 25%;
}
.tartufi {
  position: absolute;
  top: 20%;
  right: 0%;
}
/* .vege-dish-1 > div {
  flex-basis: 33.333333%;
} */

.vege-dish > div {
  flex: 1;
}

.vege-dish img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.vege img {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.vege div > p {
  font-size: 20px;
  opacity: 0.7;
}

.vege-dish-1 div:nth-child(1) {
  z-index: 5;
}
.vege-dish-1 div:nth-child(6) {
  z-index: 4;
}
.vege div p:nth-child(2) {
  font-size: 16px;
  font-style: italic;
  opacity: 0.5;
}

.vege div p:nth-child(3) {
  font-size: 16px;
  font-style: italic;
  margin: 0;
}

/* .smokva-maslina {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.smokva-maslina img:nth-child(1) {
  align-self: flex-start;
  height: 170px;
  width: 120px;
  margin-top: -60px;
}
.smokva-maslina img:nth-of-type(2) {
  align-self: flex-end;
  margin-top: -60px;
  height: 200px;
  width: 150px;
} */

.food-menu li:nth-child(3) {
  text-decoration: underline;
  /* text-decoration-color: red; */
}
