/* h4{
  font-size: 20px;
  opacity: 0.7;
} */
/* .sweet-dish > div p:nth-child(1){
    font-size: 20px;
    opacity: 0.7;
  }
  .sweet-dish > div p:nth-child(2){
    font-size: 20px;
    opacity: 0.5;
    font-style: italic;
  }
  .sweet-dish > div p:nth-child(3){
    font-size: 20px;
    font-style: italic;
  
  } */
/* .wine-container div:nth-child(2) {
  z-index: 15;
} */

.viewport-img-wine-homepage {
  background: url(../images/wine/naslovnica_crop2.jpg) center center/cover
    no-repeat;
  height: 93vh;
}

.food-menu {
  display: flex;
  color: black;
  /* margin: 5px 0 0 0; */
  justify-content: center;
  background-color: white;
  height: 13vh;
  border: none;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  align-items: center;
  margin-top: -13vh;
  padding: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 7vh;
  z-index: 10;
}
.food-menu a {
  color: black;
  font-variant: small-caps;
}
.food-menu li {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 25px;
  margin-right: 25px;
}

.wine-container > div > div {
  /* top:50%; */
  transform: translateY(10%);
}
.wine-container {
  height: 80vh;
  display: flex;
}

.wine-container div img {
  height: 120%;
  width: 100%;
  border-bottom-left-radius: 50px;
}
.wine-container > div {
  flex: 1;
}
.wine-container h2 {
  margin-top: 150px;
}
.wine-container div {
  text-align: center;
}
.wine-container div:nth-child(2) p:nth-child(1) {
  text-transform: uppercase;
  margin-top: 150px;
}
/* .wine-container p{
    margin-left:25%;
    font-size: 20px;
  } */

.wine-video {
  width: 1000px;
  height: 1000px;
  margin-top: 100px;
  margin-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.food-menu li:nth-child(5) {
  text-decoration: underline;
  /* text-decoration-color: red; */
}
.wine-text {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.wine-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.wine-images img {
  border: solid;
  width: 100%;
}
.wine-images img:first-of-type {
  grid-area: 1 / 1 / 2 / 3;
}
.wine-images img:nth-child(2) {
  grid-area: 2 / 1 / 3 / 2;
}
.wine-images img:last-of-type {
  grid-area: 2 / 2 / 3 / 3;
}

@media screen and (max-width: 768px) {
  .food-menu a {
    font-size: 10px;
  }
  .food-menu li {
    margin-left: 10px;
    margin-right: 10px;
  }

  .food-menu {
    top: 0vh;
  }
  /* .wine-container  p {

    width: 100px;
   
} */
}

@media screen and (max-width: 480px) {
  .wine-container {
    flex-direction: column-reverse;
    row-gap: 40px;
    height: auto;
  }

  .wine-container div img {
    width: 80%;
  }

  .wine-container > div:nth-child(2) > div {
    /* margin-left:50px;
    margin-right:50px; */
    width: 350px;
  }

  .wine-container div:nth-child(2) p:nth-child(1) {
    margin-top: 0;
  }
  .wine-video {
    width: 80%;
    height: 50vh;
  }

  .wine-images {
    width: 80%;
  }
  .wine-container div img {
    height: auto;
  }
}
