h1 {
  font-size: 28px;
}

h2 {
  font-size: 20px;
  /* font-weight: normal; */
  text-transform: uppercase;
  line-height: 1.5;
}

h3 {
  font-size: 20px;
  opacity: 0.7;
}

.initial-text p,
.regions p {
  font-size: 16px;
  line-height: 1.5;
}

.dish > div p:nth-child(2) {
  font-style: italic;
  opacity: 0.5;
}

.dish > div p:nth-child(3) {
  font-style: italic;
}

.dish-2 > div p:nth-child(2) {
  font-style: italic;
  opacity: 0.5;
}

.dish-2 > div p:nth-child(3) {
  font-style: italic;
}

.viewport-img-menu-homepage {
  background: url(./images/maincourse/naslovnica\ maincourse.jpg) center
    bottom/cover no-repeat;
  height: 93vh;
}

.food-menu {
  display: flex;
  color: black;
  justify-content: center;
  background-color: white;
  height: 13vh;
  border: none;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  align-items: center;
  margin-top: -13vh;
  padding-left: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 7vh;
  z-index: 1;
  /* z index sam dodala  zbog opacityja je rmi onda tekst prolazi iznad food menija i vidi se sav tekst */
}

.food-menu li {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 25px;
  margin-right: 25px;
}

.food-menu a {
  color: black;
  font-variant: small-caps;
  font-size: 14px;
}

.initial-text {
  text-align: center;
  margin-bottom: 60px;
  height: 80vh;
}

.initial-text h1 {
  margin-bottom: 60px;
  font-style: italic;
  color: orange;
  margin-top: 80px;
}

.menu-icons {
  display: flex;
  justify-content: center;
}

.menu-icons > div {
  margin: 30px;
}

.menu-icons div p {
  color: black;
  font-size: 15px;
  margin-top: 20px;
}

.menu-icons > div:nth-child(4) > p {
  margin-top: 5px;
}

.county-fun-facts {
  display: flex;
  column-gap: 40px;
  justify-content: space-evenly;
  /* prije je tu bilo center a dole margin-left right */
}
/* .county-fun-facts >div {
  width: 150px;
} */
/* .dish > div p:nth-child(2)
{  height: 40px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.5;

} */
.dish > div p:nth-child(2)
{ 
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.5;

}
.dish-2 > div p:nth-child(2)
{ 
  height: 120px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.5;

}
 h3 {
  height: 40px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.7;
}

.county-fun-facts div {
  flex: 1;
 
}

.regions {
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
}

.regions img {
  /* height: 250px; */
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: 50px;
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  width: 25%;
  margin-bottom: 50px;
}

.dish-2:first-child img {
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.dish {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.dish-2 {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.Istria-dish {
  display: flex;
}

.Istria-dish img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.img-turkey {
  height: 50%;
}

.image-S-D-c {
  background: url(./images/maincourse/splitnovi.1.jpg) center bottom/contain
    no-repeat;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* margin-left:120px;
  margin-right: 120px; */
}

.image-D-N-c {
  background: url(./images/maincourse/dubrovniknovi1.jpg) center top/contain
    no-repeat;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.image-I-P-c {
  background: url(./images/maincourse/istraipag.jpg) center bottom/contain
    no-repeat;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* margin-left:90px;
  margin-right: 90px; */
}

.image-C-C {
  background: url(./images/maincourse/kontinentalnova1.jpg) center top/contain
    no-repeat;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* margin-left: 150px;
  margin-right: 150px; */
}

.image-H {
  background: url(./images/maincourse/hercegovina1.jpg) center top/contain
    no-repeat;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.goat-tomato {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.goat-tomato img:nth-child(1) {
  align-self: flex-end;
  height: 120px;
  width: 170px;
}

.goat-tomato img:nth-of-type(2) {
  align-self: flex-start;
  margin-top: -60px;
  height: 200px;
  width: 150px;
}

.goat-tomato p:nth-child(2) {
  font-style: italic;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .food-menu a {
    font-size: 12px;
  }
  .initial-text p,
  .regions p {
    font-size: 14px;
  }
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 16px;
  }
  .menu-icons div p {
    font-size: 12px;
  }
}

.food-menu li:nth-child(2) {
  text-decoration: underline;
  /* text-decoration-color: red; */
}

.ketikaproba {
  text-decoration: underline;

  color: red;
}
.fh5co-nav p:not(.ketikaproba) {
  color: black;
}
