h1 {
  font-size: 28px;
}
h2 {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.5;
}
h3 {
  height: 40px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.7;
  font-size: 20px;
}
.initial-text p,
.regions p {
  line-height: 1.5;
}
.dish > div p:nth-child(2),
.dish-2 > div p:nth-child(2) {
  font-style: italic;
  opacity: 0.5;
}
.dish > div p:nth-child(3),
.dish-2 > div p:nth-child(3) {
  font-style: italic;
}
.viewport-img-menu-homepage {
  background: url(./images/maincourse/naslovnica\ maincourse.jpg) center
    bottom/cover no-repeat;
  height: 93vh;
}
.food-menu {
  display: flex;
  color: black;
  justify-content: center;
  background-color: white;
  height: 13vh;
  border: none;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  align-items: center;
  margin-top: -13vh;
  padding-left: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 7vh;
  z-index: 1;
  /* z index sam dodala  zbog opacityja je rmi onda tekst prolazi iznad food menija i vidi se sav tekst */
}
.food-menu li {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 25px;
  margin-right: 25px;
}
.food-menu a {
  color: black;
  font-variant: small-caps;
  font-size: 14px;
}
.initial-text {
  text-align: center;
  margin-bottom: 60px;
  height: 80vh;
  margin-left: 20px;
  margin-right: 20px;
}
.initial-text h1 {
  margin-bottom: 60px;
  font-style: italic;
  color: orange;
  margin-top: 80px;
}
.menu-icons {
  /* display: flex;
  justify-content: center; */
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.menu-icons div p {
  margin-top: 20px;
}
.menu-icons > div > div {
  height: 30px;
}

.regions {
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
}

.regions > div:nth-child(1) > div:nth-child(2),
.regions > div:nth-child(2) > div:nth-child(2),
.regions > div:nth-child(4) > div:nth-child(2),
.regions > div:nth-child(3) > div:nth-child(2) {
  display: table;
  height: 80vh;
  width: 100%;
}
.dish,
.regions > div:nth-child(3) > div:nth-child(2) > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.regions img {
  /* height: 250px; */
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: 30px;
  display: block;
  width: 25%;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
/* .regions > div > div:not(.goat-tomato) {
  margin-bottom: 35px;
} */
.county-fun-facts {
  display: flex;
  column-gap: 40px;
}
.county-fun-facts div {
  flex: 1;
}
.dish > div p:nth-child(2) {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.5;
}
.dish-2 > div p:nth-child(2) {
  height: 140px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.5;
}

.dish-2:first-child img {
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.dish-2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.Istria-dish {
  display: flex;
}

.Istria-dish img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.img-turkey {
  height: 250px;
}

.image-S-D-c {
  background: url(./images/maincourse/splitnovi.1.jpg) center 50% / contain
    no-repeat;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* margin-left:120px;
  margin-right: 120px; */
}

.image-D-N-c {
  background: url(./images/maincourse/dubrovniknovi1.jpg) center 35% / contain
    no-repeat;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.image-I-P-c {
  background: url(./images/maincourse/istraipag.jpg) center 45% / contain
    no-repeat;

  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* margin-left:90px;
  margin-right: 90px; */
}

.image-C-C {
  background: url(./images/maincourse/kontinentalnova1.jpg) center 50% / contain
    no-repeat;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.image-H {
  background: url(./images/maincourse/hercegovina1.jpg) center 60% / contain
    no-repeat;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.goat-tomato {
  display: flex;
  justify-content: center;
  height: 80vh;
}
.goat-tomato {
  align-items: center;
}

.goat-tomato img:nth-child(1) {
  align-self: flex-end;
  margin-right: -35px;
  margin-bottom: 150px;
  /* height: 120px;
  width: 170px; */
  /* height: 80px; */
  width: 130px;
}

.goat-tomato img:nth-of-type(2) {
  align-self: flex-start;
  margin-top: 80px;
  margin-left: -30px;
  /* height: 200px;
  width: 150px; */
  height: 160px;
  width: 110px;
}

.goat-tomato p:nth-child(2) {
  font-style: italic;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .dish img {
    width: 50%;
  }

  .menu-icons div p {
    font-size: 12px;
  }
  .menu-icons {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .menu-icons > div {
    margin: 15px;
  }
  .food-menu {
    top: 0vh;
  }

  h1 {
    margin-bottom: 65px;
  }
  .dish-2 {
    margin-bottom: 35px;
  }

  .image-D-N-c,
  .image-H,
  .image-C-C,
  .dish,
  .image-I-P-c,
  .image-S-D-c {
    justify-content: center;
  }

  .image-I-P-c {
    height: 80vh;
    justify-content: center;
  }

  .image-D-N-c .county-fun-facts {
    flex-direction: column;
  }

  .image-I-P-c .county-fun-facts div:nth-child(1),
  .image-I-P-c .county-fun-facts div:nth-child(2),
  .image-I-P-c .county-fun-facts div:nth-child(3),
  .image-C-C .county-fun-facts div:nth-child(2),
  .image-C-C .county-fun-facts div:nth-child(3),
  .image-C-C div:nth-child(2),
  .image-H .county-fun-facts div:nth-child(1),
  .Rastika,
  .image-D-N-c .county-fun-facts > div:nth-child(1),
  .image-S-D-c .county-fun-facts > div:nth-child(1),
  .image-S-D-c .county-fun-facts > div:nth-child(3) {
    display: none;
  }

  .food-menu li {
    margin-left: 10px;
    margin-right: 10px;
  }
  .initial-text > div:first-of-type p {
    margin-left: 30px;
    margin-right: 30px;
  }

  .goat-tomato img:nth-child(1) {
    height: 80px;
    width: 100px;
    margin-right: -60px;
    margin-bottom: 170px;
  }

  .goat-tomato img:nth-child(3) {
    height: 100px;
    width: 75px;
    margin-left: -60px;
    margin-top: 100px;
  }

  .Istria-dish {
    flex-direction: column;
    height: 160vh;
    justify-content: space-around;
  }

  .Istria-dish .dish-2:nth-child(2) > div p:nth-child(2) {
    height: 120px;
  }
  .Istria-dish .dish-2:nth-child(1) > div p:nth-child(2) {
    height: 70px;
  }
}

.food-menu li:nth-child(2) {
  text-decoration: underline;
  /* text-decoration-color: red; */
}

/* .ketikaproba {
  text-decoration: underline;

  color: red;
}
.fh5co-nav p:not(.ketikaproba) {
  color: black;
} */

@media screen and (max-width: 480px) {
  .Istria-dish .dish-2:nth-child(2) > div p:nth-child(2) {
    height: 200px;
  }
  .Istria-dish .dish-2:nth-child(1) > div p:nth-child(2) {
    height: 80px;
  }

  .food-menu a {
    font-size: 10px;
  }

  .food-menu li {
    margin-left: 10px;
    margin-right: 10px;
  }
  .img-turkey {
    width: auto !important;
  }

  .goat-tomato img:nth-child(1) {
    margin-bottom: 120px;
  }

  .goat-tomato img:nth-child(3) {
    margin-top: 70px;
  }
}
